meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1, viewport-fit=cover")
meta(name="author" content=basics.name)
meta(name="description" content=basics.name)
meta(name="generator" content="JSON Resume")
meta(name="keywords" content="職務経歴書")
title #{basics.name} 職務経歴書
include styles.pug
